/** General style */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    display: flex;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 12px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

header a {
    transition:0.3s;
    color: white;
    font-size: 3rem;
}

header .home {
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    text-decoration: none;
}

header .icons {
    position: relative;
    display: flex;
    color: white;
    font-size: 3rem;
}

header .iconMenu {
    width: 32px;
    height: 22px;
    cursor: pointer;
}

 .menu {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
    display: block;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition:
            0.2s 0.2s border-top ease-out,
            0.3s border-top-color;
}

.menu-list {
    min-width: 100%;
    padding: 15px 0;
    position: absolute;
    opacity: 0.7;
    background: #33234a;
    z-index: 100;
    transition:
            0.5s padding,
            0.5s background;
}

header li, header a {
    list-style: none;
    text-decoration-line: none;
    font-size: 8rem;
}
.menu-list a:hover,#socialMenu i:hover {
  color: #C8A1D0;
}

.container {
    justify-content: center;
    flex-direction: row;
    display: flex;
}

#aboutMe,#works {
    color: white;
    background-color: #33234a;
    opacity: 0.7;
    padding: 1.3rem;
    left: 9rem;
    top: 12rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
}

#aboutMe h2, #works h2 {
    color: #C8A1D0;
}
#works h3 {
    color: darkorchid;
}

/* Design menu social networks */
#socialMenu {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    opacity: 0.7;
    background: #33234a;
    z-index: 100;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

#socialMenu li {
    list-style: none;
}

#socialMenu i {
    font-size: 6rem;
    color: white;
}

/* Responsive mode */
@media screen and (max-width: 1300px) {

    .menu-list li {
        padding: 0.2rem;
    }

    .menu-list li, .menu-list a {
        font-size: 6rem;
    }
}


@media screen and (max-width: 1268px) {

    .menu-list li {
        padding: 0.2rem;
    }
    .menu-list li, .menu-list a {
        font-size: 4rem;
    }
    .iconMenu {
        width: 4rem;
    }
}

@media screen and (max-width:256px) {

    /* attention menu btns */

}

@media screen and (max-width:230px) {

    .home {
        font-size: 2.2rem;
    }

    /* attention menu btns */
    .menu-list li, .menu-list a {
        font-size: 3rem;
    }
}

@media screen and (max-width:162px) {

    .home, .menu-list li, .menu-list a  {
        font-size: 2.2rem;
    }

}

@media screen and (max-width:158px) {

    header {
        padding: 17px 8px 0;
    }

    .icons {
        padding: 0.3rem;
    }

}